<footer class="bg-light text-center text-lg-start">
    <div class="container p-3">
        <div class="row" style="text-align: center; align-items: center;">
            <div class="col-lg-2 col-md-5 mb-1 mb-md-0">
                <div class="img_container">
                    <img src="../static/img/elice_logo.png" style="width: 80%;">
                </div>
            </div>
            <div class="col-lg-6 col-md-9 mb-5 mb-md-0">
                <h5 class="text-uppercase" style="margin-top: 10px;"><i class="bi bi-building"
                        style="margin-right: 10px;"></i>Address</h5>
                <p>
                    대전광역시 유성구 문지로 193 KAIST 문지캠퍼스 진리관 T201호
                </p>
            </div>
            <div class="col-lg-2 col-md-5 mb-1 mb-md-0" style="margin-top: 10px;">
                <h5 class="text-uppercase"><i class="bi bi-telephone" style="margin-right: 10px;"></i>Telephone</h5>

                <p>
                    070-4633-2015
                </p>
            </div>
            <div class="col-lg-2 col-md-5 mb-1 mb-md-0" style="margin-top: 10px;">
                <h5 class="text-uppercase"><i class="bi bi-envelope" style="margin-right: 10px;"></i>Email</h5>
                <p>
                    contact@elice.io
                </p>
            </div>

        </div>
    </div>
    </div>
    <!-- 주소 : 대전광역시 유성구 문지로 193 KAIST 문지캠퍼스 진리관 T201호 | 전화 : 070-4633-2015 | 이메일 : contact@elice.io -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <span class="text-dark" href="#">eliceAiTrack_KyungJun</span>
    </div>
</footer>