{% extends "_base.html" %}

{% block title %}{{book_info.book_name}}{% endblock %}

{% block page_content %}
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-4">
            <img src="../static/img/book/{{book_info.img_link}}" style="height:550px;width:430px;">
        </div>
        <div class="col-md-8">
            <table class="book_info" style="width:85%; height:100%;margin-left:100px;">
                <tr>
                    <th>책 이름</th>
                    <td>{{book_info.book_name}}</td>
                </tr>
                <tr>
                    <th>출판사</th>
                    <td>{{book_info.publisher}}</td>
                </tr>
                <tr>
                    <th>저자</th>
                    <td>{{book_info.author}}</td>
                </tr>
                <tr>
                    <th>출간일</th>
                    <td>{{book_info.publication_date}}</td>
                </tr>
                <tr>
                    <th>페이지</th>
                    <td>{{book_info.pages}} 쪽</td>
                </tr>
                <tr>
                    <th>ISBN 코드</th>
                    <td>{{book_info.isbn}}</td>
                </tr>
                <tr>
                    <th>평점</th>
                    <td>{{book_info.star}} 점</td>
                </tr>
                <tr>
                    <th>빌려간 횟수</th>
                    <td>{{book_info.rental_val}} 회</td>
                </tr>
                <tr>
                    <th>재고</th>
                    <td>{{book_info.remaining}} 권</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: right;padding-right:20px;"><button class="btn btn-primary" style="width:30%;background-color:rgb(82, 79, 161); border-color:rgb(82, 79, 161);">대여하기</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="justify-content: center;margin-bottom:20px;">
        <table style="width: 90%;border: rgb(158, 158, 158) 6px solid;">
            <tr><td><p style="font-size: 30px;font-weight:bold;padding-left:20px;padding-top:20px;">책 소개</p></td></tr>
            <td><p style="padding: 20px;">{{book_info.description}}</p></td>
        </table>
    </div>
    <div class="row" style="justify-content: center;margin-bottom:50px;">
        <table style="width:90%;border: rgb(158, 158, 158) 6px solid;">
            <tr><td><p style="font-size: 30px;font-weight:bold;padding-left:20px;padding-top:20px;">댓글</p></td></tr>
            <tr><td style="padding: 20px;">
                <span>작성자</span>
                <span>댓글내용</span>
                <span>별점</span>
            </td></tr>
            <tr><td style="padding: 20px;"><input class="form-control" placeholder="댓글 작성"></td></tr>
            <tr><td style="padding: 0 20px 20px 0;text-align:right;">
                <span>별점</span>
                <button class="btn btn-primary" style="background-color:rgb(82, 79, 161); border-color:rgb(82, 79, 161);">작성하기</button>
            </td></tr>
        </table>
    </div>

{% endblock%}